/*for all pages*/
@import "_variables";
.header-pages{
    .wrapper{
        max-width: 1200px;
    }
    padding: 110px 10px 30px;
    h1.content_name{
        padding-bottom: 30px;
        position: relative;
        text-align: center;
        text-indent: 0;
        &:after, &:before{
            content: '';
            position: absolute;
            top: auto;
            bottom: 0;
            left: 50%;
            width: 6%;
            height: 1px;
            background-color: #4d483e;
        }
        &:before{
            left: auto;
            right: 50%;
        }
    }
    .breadcrumbs{
        font-size: 20px;
        justify-content: flex-start;
        &__no-active{
            color: $yellow;
            pointer-events: none;
        }
    }
}
.pages__inner{
    .wrapper{
        max-width: 1200px;
    }
}
.pages-subname{
    font-size: 30px;
    font-family: $cormorant;
    color: $text-grey;
}
@media only screen and (max-width: 1023px) {
    .header-pages h1.content_name {
        padding-bottom: 20px;
        font-size: 60px;

    }
}
@media only screen and (max-width: 1023px) {
    .header-pages {

        padding: 80px 10px 10px;
        h1.content_name {
            padding-bottom: 12px;
            font-size: 42px;
        }

    }
    .text-prev{
        left: -4px;
    }
}

@import "pages/_documents";
@import "pages/_gallery";
@import "pages/_hod-stroitelstva";
@import "pages/_video";
@import "pages/_akcii";
@import "pages/_about";
@import "pages/_genplan";
@import "pages/_developer";
@import "pages/_appartaments";
@import "pages/_contacts";
@import "pages/_location";
@import "pages/_news";
@import "pages/_tour";
