.contacts-page{
    .contacts_left{
        width: 30%;
        .contacts_item {
            margin-bottom: 36px;
        }
    }
    .contacts-page__img{
        width: 36%;
        .contacts-page__map{
            width: 100%;
            height: 450px;
        }
    }
    .contacts_right{
        width: 30%;
        padding-right: 6%;
        .contacts_subname{
            font-family: $cormorant;
            width: 100%;
            font-size: 30px;
            margin: 0px auto 30px;
            color: $text-grey;
            text-transform: none;
        }
    }
    .contacts_form{
        width: 100%;
    }
}
.mapinfo{
    font-size: 30px;
    font-family: $cormorant;
}
@media only screen and (max-width: 1023px) {
    .contacts-page{
        flex-direction: column;
        -webkit-flex-direction: column;
        .contacts_left {
            width: 100%;
            padding: 0 80px;
            display: flex;
            display: -webkit-flex;
            justify-content: space-around;
            -webkit-justify-content: space-around;
        }
        .contacts_item{
            width: 30%;
        }
        .social_links {
            padding-top: 0px;
        }
        .contacts-page__img {
            width: 100%;
            padding: 0 80px;
            .contacts-page__map{
                height: 350px;
            }
        }
        .contacts_right{
            width: 80%;
            padding: 0;
        }
        .main_form {
            width: 100%;
            max-width: 460px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .contacts-page {
        .contacts_left {
            padding: 0 10px;
            flex-direction: column;
            -webkit-flex-direction: column;
            .contacts_item {
                width: 100%;
                margin-bottom: 16px;
            }
        }
        .contacts-page__img {
            width: 100%;
            padding: 0 10px;
        }
        .contacts_right {
            width: 100%;
        }
    }
}
