.pages__inner{
    padding: 20px 0;
}
.documents__left{
    width: 30%;
}
.documents__right{
    width: 65%;

}
.documents-accordeon{
    .btn--radius{
        margin: 24px 0;
    }
    p {
        padding: 10px 0;
        &.flex{
            justify-content: flex-start;

        }
    }
}
.svg_look{
    fill: $yellow;
    margin-right: 20px;
}
// .accordion dl,
.accordion-list {
   border:1px solid #ddd;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#ffffff, 10%);
     }
}
.accordion dd,
.accordion__panel {
   background-color:#eee;
   font-size:1em;
   line-height:1.5em;
}
.accordionTitle,
.accordion__Heading {
    padding:20px;
    background-color: #ffffff;
    display:block;
    transition:background-color 0.5s ease-in-out;
    border-bottom:1px solid #fafafa;
    font-family: $cormorant;
    color: $text-grey;
    font-size: 30px;
    position: relative;
    &:before {
        content: url("data:image/svg+xml; utf8, <svg viewBox='0 0 129 129' xmlns='http://www.w3.org/2000/svg' version='1.1' width='20' height='20'><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z'></path></svg>");
        position: absolute;
        right: 40px;
        transition: transform 0.3s ease-in-out;
    }
    &:hover {
        background-color:darken(#ffffff, 5%);
    }
}
.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color:darken(#ffffff, 5%);
    &:before {

        transform:rotate(-225deg);
    }
}
.accordionItem {
    padding: 0 20px;
    height:auto;
    overflow:hidden;
    max-height:50em;
    transition:max-height 1s;
    @media screen and (min-width:48em) {
        max-height:15em;
        transition:max-height 0.5s
    }
}

.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
    max-height: auto;
}
.animateIn {
    animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
    0% {
        opacity: 0;
        transform:scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
    }
    100% {
        opacity:1;
        transform:scale(1);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        transform:scale(1);
    }
    100% {
        opacity:0;
        transform:scale(0.9) rotateX(-60deg);
    }
}
.accordeon__btn-wrap{
    padding: 10px 20px;
    .btn{
        width: 100%;
        max-width: 100%;
    }
}
.documents__tree-1{
    position: absolute;
    width: 35%;
    left: 0;
    top: 30px;
    pointer-events: none;
    z-index: -1;
}
.documents__tree-2{
    position: absolute;
    width: 16%;
    right: 10%;
    top: 0;
    pointer-events: none;
    z-index: 0;
}

@media only screen and (max-width: 1023px) {
    .documents{
        .btn--radius{
            font-size: 16px;
        }
        .wrapper{
            flex-direction: column;
        }
        &__left{
            width: 80%;
            margin-bottom: 30px;
        }
        &__right{
            width: 85%;
        }
    }
}
@media only screen and (max-width: 767px) {
    .documents__left {
        width: 100%;
        margin-bottom: 20px;
    }
    .documents__right {
        width: 100%;
    }
    .accordionTitle, .accordion__Heading{
        font-size: 18px;
        padding: 20px 10px;
    }
    .accordionTitle:before, .accordion__Heading:before{
        right: 30px;
    }
    .accordeon__btn-box.flex{
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .documents-accordeon .btn--radius {
        margin: 10px 0;
        width: 100%;
        padding: 10px;
    }

}
