.location-page{
    .wrapper{
        align-items: flex-start;
        -webkit-align-items: flex-start;
    }
    &__subname{
        font-size: 20px;
        text-transform: uppercase;
        color: $text-grey;
        font-family: $museo;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    &__svg{
        circle{
            fill: #ffb600;
        }
        .yellow{
            fill: #ffb600;
        }
        text{
            font-family: $museo;
            font-size: 18px;
            fill: #4d483e;
        }
        .svg-big-text{
            font-size: 24px;
        }

    }
    &__item:nth-child(1){
        width: 20%;
    }
    &__item:nth-child(2){
        width: 30%;
    }
    &__item:nth-child(3){
        width: 40%;
    }

}
.infra-page{
    .wrapper{
        align-items: inherit;
        -webkit-align-items: inherit;
    }
    &__map{
        width: 100%;
    }
    &__map-descr{
        width: 300px;
        padding-left: 30px;
        li{
            cursor: pointer;
            padding: 10px;
            justify-content: flex-start;
            -webkit-justify-content: flex-start;
        }
    }
    &__icon{
        width: 36px;
        height: auto;
        margin-right: 24px;
    }

}
